/* Reset style start */
* {
    box-sizing: border-box;
    margin: 0;
}

html{
    -webkit-text-size-adjust: none;
}

body {
    min-height: 100vh;
    line-height: 1.5;
}

ul, ol{
    list-style: none;
}

img {
    max-width: 100%;
    display: block;
}

/* Reset style end */

body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: rgb(161, 172, 168);
}