/* Reset style start */
* {
    box-sizing: border-box;
    margin: 0;
}

html{
    -webkit-text-size-adjust: none;
}

body {
    min-height: 100vh;
    line-height: 1.5;
}

ul, ol{
    list-style: none;
    padding-inline-start: 0;
}

a{
    text-decoration: none;
}

img {
    max-width: 100%;
    display: block;
}

/* Reset style end */

body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 30px;
    background-color: rgb(161, 172, 168);
}

/* Header styles start */
.header{
    display: flex;
    width: 100%;
    height: 80px;
        
}

.header-nav{
    display: flex;
    width: 100%;
}

.header-nav-list{
    display: flex;
    width: 100%;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    align-content: center;
}

.nav-list-item{
    margin: 0 45px;
}

/* Header styles end */

.avatar{
    width: 500px;
}